@import "node_modules/bootstrap/scss/functions";
@import "../../custom_variables";

.change {

    .pie{
        font-size: 0.3rem;
        color: white;
        padding: 1rem;
    }


  .overview {
    padding: 1rem 0rem;
    margin: 1rem 0rem;
  }
  .pay-btn {
    background-color: $custom-bottle-green;
    border: none;
    width: 10rem;
    margin: 1rem auto;
    display: block;
  }

  .change-btn{
    background-color: $custom-bottle-green;
    border: none;
    margin: 1rem auto;
    display: block;
  }
}
