@import "node_modules/bootstrap/scss/functions";
@import "../../custom_variables";

.change {
  padding: 0rem 1rem;

  .modal-body {
    text-align: center;
    margin-top: 6rem;
  }

    .pie{
        font-size: 0.3rem;
        color: white;
        padding: 1rem;
    }

    .choose{
      color: $custom-bottle-green;
    }

  .overview {
    padding: 1rem 0rem;
    margin: 1rem 0rem;
  }
  .pay-btn {
    background-color: $custom-bottle-green;
    border: none;
    width: 10rem;
    margin: 1rem auto;
    display: block;
  }

}
