@import "node_modules/bootstrap/scss/functions";
@import "../custom_variables";




.index {
    padding: 8rem 2rem;

  .get-started-btn {
    display: block;
    margin: auto;
    background-color: $custom-bottle-green;
    border: none;
  }
}
