@import "node_modules/bootstrap/scss/functions";
@import "../custom_variables";

.user {
  padding: 0rem 1rem;
.link{
  color: $custom-bottle-green;
}

  .pie{
    font-size: 0.3rem;
    color: white;
    padding: 1rem;
}

  .circle {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    text-align: center;
    line-height: 0.5rem;
    color: white;
    margin: auto;
    display: inline-block;
  }

  .overview {
    .tab-description{
        padding: 2rem 1rem;
        display: block;
    }
  }
}
