@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&family=Poppins:wght@300;600&display=swap');

// styling adapted from Gower presentation style
$custom-dark-gray: #65617d;
$custom-medium-gray: #a7a4bc;
$custom-light-gray: #d8d5eb;
$custom-bright-green: #a7d86d;
$custom-grass-green: #7cbe5f;
$custom-bottle-green: #52a551;

$custom-title-font: 'Poppins', sans-serif;
$custom-body-font: 'Muli', sans-serif;