@import "node_modules/bootstrap/scss/functions";
@import "../custom_variables";

.bottom-nav {
    background-color: white;
    padding: 0.2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 4rem;
    position: fixed;
    bottom: 0;
    z-index: $zindex-fixed;
    color: $custom-medium-gray;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    line-height: 0.9rem;

    small {
        font-size: 40%;
    }

    a{
        color: $custom-medium-gray;
    }
    .menu {
        position: absolute;
        margin: auto;

        .select {
            color: black;
        }
    }
}