@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../custom_variables";
@import "../components/_palette.scss";
@import "node_modules/bootstrap/scss/bootstrap";

.content {
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-color: #EEEFEE;
    min-height: 100%;
}