@import "node_modules/bootstrap/scss/variables";
@import "components/palette";
@import "node_modules/bootstrap/scss/functions";
//overriding bootstrap variables
$primary:       $custom-bottle-green;
$secondary:     $custom-medium-gray;
$success:       $custom-grass-green;
$info:          $custom-bright-green;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $custom-light-gray;
$dark:          $custom-dark-gray;

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$font-family-sans-serif: $custom-body-font;
$headings-font-family:   $custom-title-font;

h1{
    font-size: 3rem;
}

.btn-primary{
  background-color: $custom-bottle-green;
}
.card {
    margin: 1rem 0rem;
    border-radius: 0.2rem;
    text-align: center;
  }

.card-title{
  color: $custom-bottle-green;
  font-weight: 600;
}

.list-group{
  text-align: left;
}

.progress {
  color: $custom-medium-gray;
}

.carousel {
    .carousel-inner {
    display: block;
    margin: auto;

    .carousel-caption {
      position: relative;
      left: auto;
      right: auto;
    }

    .slide .carousel-indicators li{
        background-color: black;
    }

    h3 {
        color: black;
        padding: 0.7rem 0rem;
    }

    p {
      color: black;
    }

    li {
        background-color: black;
    }
  }

}


@import "node_modules/bootstrap/scss/bootstrap";


